dialog[data-drawer] {
  inset-block: 0;

  width: 100vw;
  max-width: none;
  height: 100dvh;
  max-height: none;
  border: 0;
}

dialog[data-drawer][open]:has(.chatting.direct) {
  overflow: hidden;
}

.wearable dialog[data-drawer][open]:has(.chatting.direct) {
  overflow-y: auto;
}

dialog[data-drawer][data-side="left"] {
  inset-inline-start: 0;
  inset-inline-end: auto;
}

dialog[data-drawer][data-side="right"] {
  inset-inline-start: auto;
  inset-inline-end: 0;
}
