.icon {
  display: block;
  flex: 0 0 auto;

  width: 1.25rem;
  height: 1.25rem;

  pointer-events: none;
}

[data-icon][data-circle] > .icon {
  width: 50%;
  height: 50%;
}

svg.icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

[data-icon~="user"] > svg.icon {
  fill: currentColor;
  stroke: none;
}

img.icon {
  object-fit: contain;
}

.icon-mask {
  background-color: currentColor;
  -webkit-mask: var(--icon-image) center / contain no-repeat;
  mask: var(--icon-image) center / contain no-repeat;
}

.icon-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

[data-icon] {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

[data-icon][data-image] > .icon {
  display: none;
}

.icon-center {
  justify-content: center;
}

.icon-right:not(.icon-top, .icon-bottom) > .icon,
.icon-bottom > .icon {
  order: 1;
}

.icon-top,
.icon-bottom {
  flex-direction: column;
}

.icon-top.icon-left,
.icon-bottom.icon-left {
  align-items: flex-start;
}

.icon-top.icon-right,
.icon-bottom.icon-right {
  align-items: flex-end;
}

[data-icon~="throbber"] > .icon {
  animation: throbber 800ms linear infinite;
}

@keyframes throbber {
  to {
    transform: rotate(1turn);
  }
}

@media (prefers-reduced-motion: reduce) {
  [data-icon~="throbber"] > .icon {
    animation: none;
  }
}

svg.icon-color {
  fill: none;
  stroke: none;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}
