dialog[data-popover] {
  inset: 0;

  width: min(calc(100vw - 2rem), 64rem);
  max-width: none;
  min-height: min(var(--layer-size, 0px), calc(100dvh - 2rem));
  max-height: min(calc(100dvh - 2rem), 64rem);
  margin: auto;
  border-radius: 8px;

  overflow: auto;
}

dialog[data-popover][data-fullscreen] {
  inset: 0;

  width: 100vw;
  max-width: none;
  height: 100dvh;
  max-height: none;

  margin: 0;
  border-radius: 0;
}
