dialog[data-sheet] {
  inset-block-start: auto;
  inset-inline: 0;
  inset-block-end: 0;

  width: 100%;
  max-width: none;
  height: var(--layer-size, auto);
  max-height: none;

  border-inline: 0;
  border-block-end: 0;
  border-radius: 8px 8px 0 0;
}

:root:not(.wearable) dialog[data-sheet] {
  height: var(--sheet-height, 50dvh);
}

:root:not(.wearable) dialog[data-sheet] > .layer-content {
  align-content: start;
}

dialog[data-sheet]::before {
  content: "";

  display: block;
  flex: 0 0 auto;

  width: 32px;
  height: 4px;
  margin: 8px auto 12px;
  border-radius: 999px;

  background: var(--mute);
  pointer-events: none;
}
