.stepper {
  display: inline-grid;
  grid-template-columns: 60px auto 60px;
  align-items: center;

  padding: 2px;
  border-radius: 8px;

  font-weight: 600;

  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  transition: background-color 160ms ease;
}

.stepper[data-background] {
  background: var(--background);
}

.stepper button[data-step] {
  width: 60px;
  padding: 0;
  border: 0;
}

.stepper-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  min-width: 88px;
  padding-inline: 12px;

  font-variant-numeric: tabular-nums;
}

.stepper[data-sign] .stepper-value[data-positive]::before {
  content: "+";
}

.stepper-number,
.stepper-value input {
  width: 5ch;
  padding: 0;
  border: 0;

  background: transparent;
  color: inherit;

  font: inherit;
  text-align: center;

  outline: 0;
}

.stepper-number {
  min-height: 60px;
  border-radius: 0;
}

.stepper-value input {
  height: 60px;

  appearance: textfield;
}

.stepper-value input[hidden],
.stepper-number[hidden] {
  display: none;
}

.stepper-value input::-webkit-inner-spin-button,
.stepper-value input::-webkit-outer-spin-button {
  margin: 0;

  appearance: none;
}

.stepper-value input:focus,
.stepper-value input:focus-visible {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  .stepper {
    transition: none;
  }
}
